<div class="row" infinite-scroll (scrolled)="onScrollDown()">
  <ng-container *ngIf="characters">
    <div class="card-deck mr-2" *ngFor="let character of characters">
      <app-characters [character]="character" (favorite)="addToFavorite($event)"></app-characters>
    </div>
  </ng-container>
  <ng-template #notResults>
    <div class="col-xs-12-col-sm-12-col-md-mt-5 container-notFound">
      <p>Loading...</p>
    </div>
  </ng-template>
</div>
<div
  class="btn btn-dark"
  *ngIf="showGoUpButton"
  (click)="onScrollTop()"
  [ngClass]="'no-hidden'"
>
  Go Up
</div>
