<div class="row"  
    infinite-scroll 
    (scrolled)="onScrollDown()"
>
    <ng-container *ngIf="characters">
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let character of characters">
            <app-characters [character]=character></app-characters>
        </div>
    </ng-container>
    <ng-template #notResults>
        <div class="col-xs-12-col-sm-12-col-md-mt-5 container-notFound">
            <p>Loading...</p>
        </div>
    </ng-template>
</div>
<div 
    class="btn btn-dark"
    *ngIf="showGoUpButton"
    (click)="onScrollTop()"
    [ngClass]="'no-hidden'"
    >
    Go Up
</div>