<div class="row">
  <ng-container *ngIf="characters$ | async as characters; else notResults">
    <ng-container *ngIf="characters.length > 0; else emptyListFavorites">
      <div class="card-deck mr-2" *ngFor="let character of characters">
        <app-characters
          [showHideButton]="false"
          [character]="character"
        ></app-characters>
      </div>
    </ng-container>
    <ng-template #emptyListFavorites>
      <div class="col-xs-12-col-sm-12-col-md-mt-5 container-notFound">
        <p>List empty Favorites</p>
      </div>
    </ng-template>
  </ng-container>
  <ng-template #notResults>
    <div class="col-xs-12-col-sm-12-col-md-mt-5 container-notFound">
      <p>Loading...</p>
    </div>
  </ng-template>
</div>
